<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>PE3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>author</param-name>
    <param-value>Jacob Dueholm</param-value>
  </context-param>
  <context-param>
    <param-name>version</param-name>
    <param-value>0.1</param-value>
  </context-param>
  <context-param>
    <param-name>date</param-name>
    <param-value>06-09-2012</param-value>
  </context-param>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>
        dk.stacktrace.pe3.SessionFilter
    </filter-class>
    <init-param>
      <param-name>avoid-urls</param-name>
      <param-value></param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/private/*</url-pattern>
  </filter-mapping>
</web-app>